{% extends 'core/base.html' %}

{% block title %} About{% endblock %}

{% block content %}

<h1 class="text-xl"><strong>About</strong><br/> 
My name is Thokozani Kamtule, am a junior programmer, ICT and programming student who managed to build this web app. Am a Malawian, Originally from Northen region of the country in Rumphi District.I love to solve problems through code. This web app will help you to keep and record the history of website links you visted.<br/>
For you to easily use this project effectively follow the instructions below:<br/>
   <ul> 
   	 <li> &#8226; Sign up if you dont have account and you will be directed to login page.</li>
   	   <li> &#8226; After login you will be directed to home page.</li>
   	   <li> &#8226; Create category for what you like, for instance; Sports.</li>
   	   <li> &#8226; Then create link for that category of Sports.</li>
   	    <li> &#8226; You can delete and edit your categories or links.</li>
   	   <li> &#8226; For better view use a computer or tablet.</li>
   </ul>
</h1>

{% endblock %}